In [33]:
#Problem1
import pandas as pd
import numpy as np

dftuyensinh = pd.read_csv(
    "patient_heart_rate.csv",
    delimiter=",",
    engine="python",
    on_bad_lines="skip"
)
dftuyensinh.head()

column_names = [
    'Id', 'Name', 'Age', 'Weight',
    'm0006', 'm0612', 'm1218',
    'f0006', 'f0612', 'f1218'
]

df = pd.read_csv(
    "patient_heart_rate.csv",
    names=column_names,
    engine="python",
    on_bad_lines="skip"
)

print(df.head())

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

In [34]:
# Problem 2
df[['Firstname', 'Lastname']] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN  None  None  None  None  None       NaN
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

In [35]:
# Problem 3
# Get the Weight column
weight = df['Weight']

for i in range(0, len(weight)):
    x = str(weight[i])
    
    # In case lbs is part of observation remove it
    if "lbs" in x[-3:]:
        # Remove the lbs from the value
        x = x[:-3]
        
        # Convert string to float
        float_x = float(x)
        
        # Convert to kgs and store as int
        y = int(float_x / 2.2)
        
        # Convert back to string
        y = str(y) + "kgs"
        
        weight[i] = y

print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN  None  None  None  None  None       NaN      NaN
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

/var/folders/w7/ngq6mkcd3wn_lt5qcvz85npm0000gn/T/ipykernel_49504/3783577839.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/var/folders/w7/ngq6mkcd3wn_lt5qcvz85npm0000gn/T/ipykernel_49504/3783577839.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/var/folders/w7/ngq6mkcd3wn_lt5qcvz85npm0000gn/T/ipykernel_49504/3783577839.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/var/folders/w7/ngq6mkcd3wn_lt5qcvz85npm0000gn/T/ipykernel_49504/3783577839.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/var/folders/w7/ngq6mkcd3wn_lt5qcvz85npm0000gn/T/ipykernel_49504/3783577839.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

In [36]:
# Problem 4
df.dropna(how="all", inplace=True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [37]:
# Problem 5
df = df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [38]:
# Problem 6
df.Firstname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
df.Lastname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

/var/folders/w7/ngq6mkcd3wn_lt5qcvz85npm0000gn/T/ipykernel_49504/2667655173.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Firstname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
/var/folders/w7/ngq6mkcd3wn_lt5qcvz85npm0000gn/T/ipykernel_49504/2667655173.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Lastname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)

In [39]:
# Problem 7
# a
print("Số lượng giá trị thiếu:")
print(df[['Age', 'Weight']].isnull().sum())
print("-" * 40)

# b
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# c
df = df.dropna(subset=['Age', 'Weight'], how='all')

# d
mean_age = df['Age'].mean()
print("Giá trị trung bình Age:", round(mean_age, 2))

# e
df['Age'] = df['Age'].fillna(mean_age)

print("\nDữ liệu sau khi xử lý missing values:")
print(df[['Age', 'Weight']])

Số lượng giá trị thiếu:
Age       3
Weight    3
dtype: int64
----------------------------------------
Giá trị trung bình Age: 36.1

Dữ liệu sau khi xử lý missing values:
     Age Weight
0   56.0  70kgs
1   34.0  70kgs
2   16.0    NaN
3   36.1  78kgs
4   54.0  90kgs
5   52.0  85kgs
6   19.0  56kgs
7   32.0  78kgs
11  12.0  45kgs
12  36.1  60kgs
13  34.0    NaN
15  52.0  81kgs

In [ ]:
#Problem 8
# Melt the Sex + time range columns in single column
df = pd.melt(
    df,
    id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'],
    value_name='PulseRate_raw',
    var_name='sex_and_time'
).sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])

# Extract Sex, hour lower bound and hour upper bound
tmp_df = df['sex_and_time'].str.extract(r'(\D)(\d+)(\d{2})', expand=True)

# Name columns
tmp_df.columns = ['Sex', 'hours_lower', 'hours_upper']

# Create Time column
tmp_df['Time'] = tmp_df['hours_lower'] + '-' + tmp_df['hours_upper']

# Merge
df = pd.concat([df, tmp_df], axis=1)

# Drop unnecessary columns
df = df.drop(['sex_and_time', 'hours_lower', 'hours_upper'], axis=1)

# Rename PulseRate column
df.rename(columns={'PulseRate_raw': 'PulseRate'}, inplace=True)

print(df)

      Id   Age Weight Firstname Lastname PulseRate Sex   Time
0    1.0  56.0  70kgs     Micky     Mous        72   m  00-06
12   1.0  56.0  70kgs     Micky     Mous        69   m  06-12
24   1.0  56.0  70kgs     Micky     Mous        71   m  12-18
36   1.0  56.0  70kgs     Micky     Mous         -   f  00-06
48   1.0  56.0  70kgs     Micky     Mous         -   f  06-12
..   ...   ...    ...       ...      ...       ...  ..    ...
23  15.0  52.0  81kgs       NaN      NaN         -   m  06-12
35  15.0  52.0  81kgs       NaN      NaN         -   m  12-18
47  15.0  52.0  81kgs       NaN      NaN        68   f  00-06
59  15.0  52.0  81kgs       NaN      NaN        75   f  06-12
71  15.0  52.0  81kgs       NaN      NaN        72   f  12-18

[72 rows x 8 columns]

In [ ]:
#11
# Đảm bảo PulseRate là số
df['PulseRate'] = pd.to_numeric(df['PulseRate'], errors='coerce')

# Khảo sát tỉ lệ dữ liệu thiếu
missing_rate = df['PulseRate'].isna().mean() * 100
print(f"Ti le du lieu thieu PulseRate: {missing_rate:.2f}%")

# Sắp xếp theo từng người và thời gian
df = df.sort_values(by=['Id', 'Time'])

# (1) Trung bình liền trước & liền sau
df['PulseRate'] = df.groupby('Id')['PulseRate'].transform(
    lambda x: x.interpolate(method='linear', limit_direction='both')
)

# (2) Trung bình 2 giá liền trước
df['PulseRate'] = df.groupby('Id')['PulseRate'].transform(
    lambda x: x.fillna(x.shift(1).rolling(2).mean())
)

# (3) Trung bình 2 giá liền sau
df['PulseRate'] = df.groupby('Id')['PulseRate'].transform(
    lambda x: x.fillna(x.shift(-1).rolling(2).mean())
)

# (4) Trung bình huyết áp của người đó
df['PulseRate'] = df.groupby('Id')['PulseRate'].transform(
    lambda x: x.fillna(x.mean())
)

# (5) Trung bình theo nhóm giới tính
df['PulseRate'] = df.groupby('Sex')['PulseRate'].transform(
    lambda x: x.fillna(x.mean())
)

# (6) Trung bình toàn bộ dữ liệu, nếu còn thiếu thì dùng mức ổn định y học
overall_mean = df['PulseRate'].mean()
df['PulseRate'] = df['PulseRate'].fillna(overall_mean)
df['PulseRate'] = df['PulseRate'].fillna(70)

Ti le du lieu thieu PulseRate: 51.39%

In [43]:
#12
# Rút gọn dữ liệu phù hợp
df_clean = df[['Id', 'Age', 'Sex', 'Time', 'PulseRate']]

# Reindex lại dữ liệu
df_clean = df_clean.reset_index(drop=True)

# Lưu file
df_clean.to_csv('patient_heart_rate_clean.csv', index=False)

# Kiểm tra kết quả
print("Kich thuoc du lieu:", df_clean.shape)
print(df_clean.head())

print("Da luu file patient_heart_rate_clean.csv thanh cong")

Kich thuoc du lieu: (72, 5)
    Id   Age Sex   Time  PulseRate
0  1.0  56.0   m  00-06       72.0
1  1.0  56.0   f  00-06       70.5
2  1.0  56.0   m  06-12       69.0
3  1.0  56.0   f  06-12       70.0
4  1.0  56.0   m  12-18       71.0
Da luu file patient_heart_rate_clean.csv thanh cong